node_modules
.next
npm-debug.log
.env
.env.*
*.log
storage
tmp
.git
.gitignore
*.md
sql
database
src/data/generated/*
!src/data/generated/wilayah-resmi-kemendagri.json
src/Foto/*
!src/Foto/Dinkes.png
